/**
 * Ace editor
 */
#ace-editor { 
    width: 100%;
    height:350px;
    margin-left: auto;
	padding-right: 10px;
	font-size: 16px;
}

#ace_editor_value {
	display: none;
}

h2 .nav-tab {
	font-weight: 600;
}

.ordinary-select-2 .select2-container {
	width: 300px;
}

#opt-location select,
#opt-location input {
	width: 300px;
}